@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}

.fondo__navbar {
    background-color: #AC8DAD;
    height: 80px;
    width: 100%;
    
}
.logo-portafolio{
    width: 80px;
    height: auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#F2E9E4 ;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color:#F2E9E4;;
}
.navbar-light,.navbar-nav,.nav-link {
    color: #F2E9E4;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}
.foto-portada{
    margin-top: 40px;
}
.nombre-titulo{
    font-family: 'Archivo Black', sans-serif;
}
col,.nombre-titulo{
    margin-top: 150px;
    text-align: left;
}
.parrafo-header{
    margin-top: 20px;
}
