@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}

.fondo__navbar {
    background-color: #AC8DAD;
    height: 80px;
    width: 100%;
    
}
.logo-portafolio{
    width: 80px;
    height: auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#F2E9E4 ;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color:#F2E9E4;;
}
.navbar-light,.navbar-nav,.nav-link {
    color: #F2E9E4;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}
.foto-portada{
    margin-top: 40px;
}
.nombre-titulo{
    font-family: 'Archivo Black', sans-serif;
}
col,.nombre-titulo{
    margin-top: 150px;
    text-align: left;
}
.parrafo-header{
    margin-top: 20px;
}
.presentacion-header{
    margin-top: 50px;
    margin-bottom: 200px;
}
.ficha-tecnica{
    margin-left: 30px;
}

.box17{position:relative}
.box17:after{content:"";width:100%;height:100%;background:rgba(172,141,173,.9);position:absolute;top:0;left:0;opacity:0;transition:all .5s ease 0s}
.box17:hover:after{opacity:1}
.box17 img{width:100%;height:auto;transition:all 1.5s ease 0s}
.box17 .box-content,.box17 .icon li a{position:absolute;transition:all .6s ease 0s}
.box17:hover img{transform:scale(1.2)}
.box17 .icon{width:100%;height:100%;list-style:none;padding:0;margin:0 auto;position:absolute;top:0;left:0;z-index:1}
.box17 .icon li a{width:45px;height:45px;line-height:45px;margin:0 auto;top:50%;border:1px solid #fff;opacity:0}
.box17:hover .icon li a{top:30%;opacity:1}
.box17 .icon li a:hover{background:#fff;color:#AC8DAD}
.box17 .icon li:first-child a{left:-90%;right:0}
.box17:hover .icon li:first-child a{left:-55px}
.box17 .icon li:last-child a{right:-90%;left:0}
.box17:hover .icon li:last-child a{right:-55px}
.box17 .box-content{width:100%;padding:20px 10px;background:rgba(0,0,0,.1);bottom:-100px;left:0;z-index:1}
.box17:hover .box-content{bottom:0}
.box17 .title{font-size:18px;font-weight:700;color:#26201D;margin-top:0}
.box17 .post{display:block;font-size:14px;color:#26201D}
@media only screen and (max-width:990px){.box17{margin-bottom:30px}
}

.carousel-indicators .active{
    background-color: black;
   
}
.carousel-indicators {
    bottom: -100px;
  
}
.carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: rgba(0, 0, 0, 5);
}
.typeform-widget{
    margin-top: 50px;
}
footer{
    background-color:#AC8DAD ;
    width: 100%;
    height: 100px;
    margin-top: 30px;
}
i{
    color:#F2E9E4 ;
    
}
.iconos-footer{
    text-align: center;
    padding: 10px 0;
}
.trabajos-anteriores,.titulo-habilidades,.publicaciones-titulo{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    padding: 40px 0;
}
.habilidades{
    background-color:#AC8DAD ;
    width: 100%;
    height: 500px;
}
.titulo-habilidades{
    color: #F2E9E4;
}
.logo-ai,.logo-ph,.logo-id{
    width: 70px;
    height: auto;
    margin-top: 20px;
}
.logo-adobe,.logo-computador{
    margin-top: 20px;
}
.adobe-icon,.html-icon{
    text-align: center;
}
